---
import Layouts from "../layouts/Layouts.astro";
import Nav from "../components/header/Nav.astro";
import { Image } from "astro:assets";
import Foot from "../components/header/Foot.astro";
---

<Layouts title="Keranjang">
  <Nav />

  <div class="h-screen pt-10 bg-[#E5E5E5]">
    <div class="w-[1000px] h-[521px] bg-zinc-300 ml-52">
      <h1 class="pt-10 pl-20 text-3xl font-bold text-black">Keranjang</h1>
      <div
        class="w-[705px] h-[227px] bg-zinc-600 rounded-[5px] border border-slate-400 flex mt-10"
      >
        <Image
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          alt="gambar produk"
          width="215"
          height="93"
          class="w-28 h-36 rounded-[10px] border border-black mt-7 ml-7"
        />
        <div>
          <h1 class="mt-7 ml-10 text-white text-lg">
            Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
          </h1>
          <h1 class="mt-10 ml-10 text-white text-lg">$ 109.95</h1>
          <!-- Open the modal using ID.showModal() method -->
          <button class="btn mt-5 ml-10" onclick="my_modal_1.showModal()"
            >Pilih Promo</button
          >

          <dialog id="my_modal_1" class="modal">
            <div class="modal-box">
              <h3 class="font-bold text-lg mb-5">Pilih Promo</h3>
              <div class="flex pt-5 gap-6 h-20 bg-gray-400 rounded-lg">
                <label class="pt-1 text-sm text-white ml-6">tambah promo</label>
                <input
                  type="text"
                  placeholder="Type here"
                  class="input input-bordered w-full max-w-xs"
                />
                <button class="btn mr-8">TAMBAH</button>
              </div>
              <h1 class="font-bold text-lg mt-3">Voucher</h1>
              <div class="grid grid-rows-1 gap-y-8 pt-5">
                <div class="flex bg-white border shadow h-32 rounded-lg">
                  <div>
                    <Image
                      src="https://png.pngtree.com/png-vector/20221207/ourmid/pngtree-3d-golden-20-percent-off-discount-sale-vector-png-image_242078.png"
                      alt="gambar promosi"
                      width="215"
                      height="93"
                      class="w-28 h-32 rounded-[10px] bg-[#f1f3f4]"
                    />
                  </div>
                  <div class="pl-5 pt-3">
                    <h1 class="text-red-600 font-bold text-lg">Discond 20%</h1>
                    <p>Min. belanja Rp.30RB s/d Rp.50RB</p>
                  </div>
                  <div class="ml-4">
                    <input type="checkbox" class="checkbox mt-10 ml-10" />
                    <h1 class="ml-10 mt-7">S&K</h1>
                  </div>
                </div>
                <div class="flex bg-white border shadow h-32 rounded-lg">
                  <div>
                    <Image
                      src="https://png.pngtree.com/png-vector/20221128/ourlarge/pngtree-golden-30-percent-off-discount-sale-label-3d-design-vector-png-image_241677.png"
                      alt="gambar promosi"
                      width="215"
                      height="93"
                      class="w-28 h-32 rounded-[10px] bg-slate-500"
                    />
                  </div>
                  <div class="pl-5 pt-3">
                    <h1 class="text-red-600 font-bold text-lg">Discond 30%</h1>
                    <p>Min. belanja Rp.30RB s/d Rp.50RB</p>
                  </div>
                  <div class="ml-4">
                    <input type="checkbox" class="checkbox mt-10 ml-10" />
                    <h1 class="ml-10 mt-7">S&K</h1>
                  </div>
                </div>
              </div>

              <div class="modal-action">
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn">Close</button>
                </form>
              </div>
            </div>
          </dialog>
        </div>

        <button class="btn ml-48 mt-40 w-28">
          <a
            href="https://api.whatsapp.com/send/?phone=6289632126428&text&type=phone_number&app_absent=0"
            class="text-xs font-bold text-stone-800">Hubungi Penjual</a
          >
        </button>
      </div>
    </div>
  </div>
  <Foot />
</Layouts>
